html,body{margin:0; padding:0; height:100%;}
body {display:flex; flex-direction:column; min-height:100vh;}
main, .main {flex:1;}
.link{color:inherit; text-decoration:none}
.container{max-width:1300px; margin:0 auto; padding:0px 10px;}


/* 헤더, 푸터 */
.header-top{background:#6A4AE0; color:#FFFFFF; font-size:16px; padding:7px 0;}
.header-topin{display:flex; align-items:center; justify-content:space-between;}
.header-sns{display:flex; align-items:center; gap:10px;}
.header-user{margin-left:12px;}
.header-user a:hover{text-decoration:underline}

.header-main{border-bottom:1px solid #CCCCCC; background:#FFFFFF; padding:20px 0;}
.header-mainin{display:flex; align-items:center; justify-content:space-between;}
.header-logo{display:flex; align-items:center;}
.header-menu {display:flex; gap:30px; font-size:26px; font-weight:700;}
.header-menu a:hover{color:#6A4AE0;}

.footer{border-top:1px solid #CCCCCC; background:#FFFFFF;}
.footer-inner{display:grid; grid-template-columns:auto 1fr; gap:53px; align-items:center; padding:20px 0px;}
.footer-logo{display:flex; align-items:center;}
.footer-account{font-size:14px; color:#828282;}


/* 로그인, 회원가입, 마이페이지 */
.main-inner{padding:80px 0; display:flex; justify-content:center;}
.card{width:100%; max-width:500px; background:#ffffff; border:1px solid #000000; border-radius:16px; padding:30px 100px 80px;}
.card h1{text-align:center; margin-bottom:20px; font-size:38px; color:#6A4AE0; font-weight:700;}
.text{font-size:14px; color:#555;}

.field{margin-bottom:10px}
.field label{margin-bottom:5px; display:block;}
.input{width:100%; padding:10px; font-size:14px; border:1px solid #000000; border-radius:10px; outline:none; background:#ffffff; box-sizing:border-box;}

.flex{display:flex; gap:5px; align-items:center; justify-content:center; width:100%;}
.flex.input{flex:1;}
.flex select{cursor:pointer;}
.zipcode{padding:8px; font-size:14px; background:#ffffff; color:#000000; border:1px solid #000000; border-radius:10px; cursor:pointer; white-space:nowrap;}
.zipcode:hover{background:#F0F0F0;}
.check{padding:10px; font-size:14px; background:#ffffff; color:#6A4AE0; border:1px solid #6A4AE0; border-radius:10px; cursor:pointer; white-space:nowrap;}
.check:hover{background:#6A4AE0; color:#fff;}

.password-input{display:flex; flex-direction:column; align-items:center; justify-content:center; gap:5px;}
.address-input{display:flex; flex-direction:column; align-items:center; justify-content:center; gap:5px;}

.big-button{width:100%; margin-top:20px; padding:14px 16px; border:none; border-radius:10px; background:#6A4AE0; color:#ffffff; font-size:18px; cursor:pointer;}
.big-button:hover{background:#584AAF;}
.help{display:flex; justify-content:center; gap:10px; margin-top:10px; font-size:14px; color:#676767;}
.help a:hover{color:#6A4AE0;}

.member-button{display:flex; align-items:flex-end; justify-content:space-between; margin-top:30px;}
.member-buttons{display:flex; justify-content:flex-end; gap:10px;}
.small-button{padding:10px 15px; border:none; border-radius:10px; background:#6A4AE0; color:#ffffff; font-size:16px; cursor:pointer;}
.small-button:hover{background:#584AAF;}
.quit{padding:5px 10px; border:none; border-radius:10px; background:#FDE9EB; color:#EB2332; font-size:14px; cursor:pointer;}
.quit:hover{background:#F8D2D7;}


/* 홈페이지 */
.banner{position:relative; overflow:hidden; width:100%; max-width:1300px; aspect-ratio:1000/180; margin-bottom:20px;}
.slides {display:flex; height:100%; transition:transform 0.6s ease;}
.slides img {width:100%; height:100%; object-fit:cover; flex-shrink:0;}
.banner button{position:absolute; top:50%; transform:translateY(-50%); color:#000000; background:none; border:none; font-size:100px; opacity:0.5; padding:0 20px; cursor:pointer;}
.banner .prev{left:10px;}
.banner .next{right:10px;}

.home-menu{display:grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr 1fr; gap:20px;}
.home-inner{display:flex; flex-direction:column; padding:20px; background:#ffffff;}
.home-board{display:flex; align-items:center; justify-content:center; gap:10px;}
.line{border:1px solid #6A4AE0; flex-grow:1;}
.home-board h2{font-size:28px; color:#000000;}
.home-menu button{background:none; border:none; font-size:50px; color:#000000; cursor:pointer; transition:0.3s;}
.home-menu button:hover{transform: rotate(45deg)}

.home-list{display:flex; flex-direction:column; gap:10px;}
.home-row{display:flex; align-items:center; gap:15px; background:#ffffff; border:1px solid #EAEAEB; padding:10px 20px; border-radius:10px;}
.home-row:hover{background:#EAEAEB;}
.home-category{font-size:18px; color:#000000; font-weight:500;}
.home-grade{font-weight:700; font-size:16px; line-height:1.2; color:#ffffff; background:#6A4AE0; padding:3px 8px; border-radius:10px;}
.home-title{font-size:18px; color:#000000; text-decoration:none; flex:1;}


/* 게시판 */
.option{margin-top:30px; display:flex; flex-direction:column;}
fieldset{border:none; margin:0; padding:0;}
.board-search{display:flex; align-items:center; justify-content:center; gap:20px}
.board-search select{color:#000000; font-size:18px; border:1px solid #CCCCCC; border-radius:3px; padding:10px 16px; cursor:pointer;}
.search-box{display:flex; align-items:center; border:1px solid #CCCCCC; border-radius:3px;}
.search-box input{font-size:18px; border:none; width:350px; padding:10px;}
.search-box button{background:none; border:none; cursor:pointer; padding:0 12px;}
.board-category{display:flex; flex-direction:row; justify-content:center; margin-top:20px;}
.board-category ul, li{list-style:none; display:flex; gap:20px;}
.board-category input[type="radio"]{display:none;}
.board-category label{display:block; color:#000000; font-size:18px; border:1px solid #CCCCCC; border-radius:3px; background:#ffffff; padding:12px 30px; cursor:pointer;}
.board-category input[type="radio"]:checked+label{color:#ffffff; background:#6A4AE0; border:1px solid #6A4AE0;}

.board-order{display:flex; align-items:flex-end; justify-content:space-between; margin-top:30px;}
.order-text{display:flex; align-items:flex-end; justify-content:flex-start; font-size:14px; color:#989A98;}
.order-text p{margin:0;}
.order-buttons{display:flex; justify-content:flex-end; gap:10px;}
.order-count{display:flex; gap:10px;}
.order-count input[type="radio"]{display:none;}
.order-count label{display:block; color:#989A98; font-size:14px; border:1px solid #989A98; border-radius:3px; background:#ffffff; padding:4px 8px; cursor:pointer;}
.order-count input[type="radio"]:checked+label{color:#ffffff; background:#6A4AE0; border:1px solid #6A4AE0;}
.order-buttons select{font-size:14px; color:#989A98; border:1px solid #989A98; border-radius:3px; background:#ffffff; padding:4px 5px; cursor:pointer;}

.board-inner{display:flex; flex-direction:column;}
.list-line{border:1px solid #000000; width:100%;}
.board-header{display:grid; gap:5px; grid-template-columns:50px 50px 50px 1fr 100px 80px 80px 100px; font-size:18px; color:#000000; font-weight:700; text-align:center; padding:12px 8px; border-bottom:1px solid #CCCCCC;}
.board-list{list-style:none; padding:0; margin:0; font-size:16px; color:#000000;}
.board-list a{color:#000000; text-decoration:none; overflow:hidden; text-overflow:ellipsis;}
.board-list a:hover{text-decoration:underline}
.board-list li{display:grid; gap:5px; grid-template-columns:50px 50px 50px 1fr 100px 80px 80px 100px; align-items:center; text-align:center; padding:12px 8px; border-bottom:1px solid #CCCCCC;}
.board-list div{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}

.list-title{display:flex; align-items:center; margin:0 10px;}
.board-notice{background-color:#FAFAFA;}
.notice-list{color:#6A4AE0;}
.board-post{background-color:#ffffff;}
.board-grade{color:#ffffff; background:#6A4AE0; line-height:1.2; border-radius:10px;}
.comment-count{color:#A692EC; margin-left:5px; flex-shrink:0;}

.pagination{margin-top:20px; display:flex; justify-content:center; gap:10px;}
.pagination span{color:#666666; font-size:16px; cursor:pointer;}
.pagination span:hover{color:#6A4AE0; font-weight:700;}
.board-new{display:flex; justify-content:flex-end;}
.board-new button{font-size:16px; color:#ffffff; background:#6A4AE0; border-radius:3px; border:none; padding:10px 20px; cursor:pointer;}
.board-new button:hover{background:#584AAF;}


/* 게시글 */
.article{display:flex; flex-direction:column;}
.article-top{background:#F9F9F9; padding:30px 20px; border-bottom:1px solid #CCCCCC;}
.article-type{font-size:18px; display:flex; gap:10px;}
.article-info{display:flex; align-items:center; justify-content:space-between;}
.article-member{font-size:16px; display:flex; flex-direction:row; align-items:center; gap:20px; color:#919394;}
.article-system{display:flex; align-items:center; gap:20px;}
.article-system a{ color:inherit;}
.article-system img{vertical-align:sub;}
.article-like{font-size:16px; text-decoration:none; color:#919394;}
.article-report a{color:#EB2332;}

.article-content{display:flex; flex-direction:column; gap:50px; background:#ffffff; padding:30px 20px; border-bottom:1px solid #CCCCCC;}
.article-text{font-size:18px;}
.article-file{font-size:16px; color:#919394;}


/* 글쓰기 */
.information{display:flex; justify-content:flex-start; flex-direction:column; font-size:18px; gap:20px; margin-top:30px}
.information-form{display:flex; align-items:center;}
.information-form label{min-width:80px; text-align:right; margin-right:20px;}
.information-form input{font-size:16px; color:#000000; border:none; background:none;}
.information-form select{padding:2px 4px; font-size:16px; border:1px solid #CCCCCC; border-radius:3px; cursor:pointer;}
.information-form a{text-decoration:none; color:#6A4AE0; font-size:16px;}
.information-form button{color:#6A4AE0; background:#F1EDFC; border:none; border-radius:10px; font-size:15px; padding:2px 4px; margin-right:10px; cursor:pointer;}
.information-form button:hover{background:#D3C9F6;}
.information-form img{vertical-align:baseline;}

.information-title{margin-top:20px; background:#F9F9F9; border-style: solid none; border-width:1px; border-color:#CCCCCC;}
.information-title input{background:none; border:none; width:100%; height:100px; padding:20px 20px; font-size:18px; font-weight:500; box-sizing:border-box;}
.information-content{width:100%;}
.information-content textarea{width:100%; height:300px; border:none; border-bottom:1px solid #CCCCCC; background:none; font-size:16px; padding:10px 20px; box-sizing:border-box; resize:none;}
.information-written{display:flex; justify-content:flex-end; gap:10px; padding-bottom:30px;}
.information-written button{font-size:16px; color:#ffffff; background:#6A4AE0; border-radius:3px; border:none; padding:10px 20px; cursor:pointer;}
.information-written button:hover{background:#584AAF;}

